@media (max-width: 1188px){
    .logo-name {
        font-size: 2.5em;
    }
    .main-nav-link:visited,
    .main-nav-link:link{
        font-size: 1.7rem;
    }
    .container{
        max-width: 90rem;
    }
    .skills{    
    max-width: 100rem;
    }
}

@media (max-width: 1000px){
    .logo-name {
        font-size: 2.1em;
    }
    .main-nav-link:visited,
    .main-nav-link:link{
        font-size: 1.5rem;
    }
    .container{
        max-width: 85rem;
    }
    .skills{    
        max-width: 95rem;
    }
    .skills-pic{
        width: 75%;
        margin: 0 auto;
    }
}
@media (max-width: 900px){
    .main-nav-list{
        gap:2rem
    }
    .container {
        max-width: 80rem;
    }
    .main-nav-link:visited,
    .main-nav-link:link{
        font-size: 1.2rem;
    }
    .hero-primary {
        font-size: 4rem;
    }
    .main-name{
        font-size: 3rem;
    }
    .passion{
        font-size: 2.6rem;
    }
    .hero{
        max-width: 85rem;
    }
    .sub-heading{
        font-size: 1.8rem;
    } 
    .heading-about {
        font-size: 3rem;
    }
    .about-me {
        font-size: 1.7rem;
    }
    .skill-heading {
        font-size: 3rem;
    }
    .skills-pic{
        width: 80%;
        margin: 0 auto;
    }
    .skill-icon {
        padding: 1rem;
    }
    .icons {
        width: 4.5em;
        height: 4.5em;
    }
    .hero {
        max-width: 80rem;
    }
}
@media (max-width: 790px){
    .mobile-navbar-btn{
        display: block;
        z-index: 99999999999;
    }
    .main-nav{
        width: 100%;
        height: 100vh;
        background-color: rgb(29 29 29 / 99%);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999999999999999999999999999999999999999999999999999999;
        transform: translateX(100%);
        transition: all 0.3s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .header{
        position: relative;
    }
    .main-nav-list{
        flex-direction: column;
        align-items: center;
    }

    .active .main-nav{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .mobile-nav-icon[name='close-outline']{
        display: block;
    }
    .active .mobile-nav-icon[name='menu-outline']{
        display: none;
    }
    .main-nav-link:visited,
    .main-nav-link:link{
        font-size: 1.7rem;
    }
    .mobile-navbar-btn{
        margin-top: 1rem;
    }
}

